.start {
    .full-block-cell {
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 2px #000;

        .branding {
            position: relative;
            margin-bottom: 40px;
            
            .hr-left {
                position: absolute;
                top: 50%;
                left: 0;
                width: 41%;
                margin: 0;
            }
            
            .hr-right {
                position: absolute;
                top: 50%;
                right: 0;
                width: 41%;
                margin: 0;
            }
            
            
            img {
                max-width: 50px;
                display: block;
                margin: 0 auto;

                @media @screen-small-above {
                    max-width: 80px;
                }
            }
        }

         h1 {
             font-size: 30px;
             text-transform: uppercase;
             font-weight: normal;
             margin: 0;
             letter-spacing: 6px;
             
             @media @screen-small-above {
                 //font-size: 55px;
            }
            b {
                display: block;                    
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 65px;
                margin-top: 8px;
            }
         }

        .btn.btn-go {
            font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
            border-radius: 0;
            background-color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            margin: 35px auto 0 auto;
            text-align: center;
             font-size: 18px;
            padding: 0 22px;
            line-height: 44px;


            &:hover {
                .no-touch & {
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                }
            }

        }
        
        .byline {
            position: relative;
            margin: 100px 0 10px 0;
            
            .hr-left {
                position: absolute;
                top: 7px;
                left: 0;
                width: 38%;
                margin: 0;
            }
            
            .hr-right {
                position: absolute;
                top: 7px;
                right: 0;
                width: 38%;
                margin: 0;
            }
            
            ul {
                list-style-type: none;
                text-align: center;
                font-size: 14px;
                padding: 0;
                
                li {
                    margin: 5px 0;
                    line-height: 1;
                }
            }
            
        }
    }
}