.slide.state-end {
    
    h4,h5,h6,p,ul,ol,li {
        
      
    }
    
    .full-block-content {
        max-width: 700px;
        margin: 0 auto;
        padding: 40px 20px;
        position: relative;
        
        .slide-header {
            position: fixed;
            top: 0;
            left: 0;
            height: 30px;
            width: 100%;
            border-bottom: 1px solid #eee;
            background: #1A1A1A url('../assets/chalk-bg.png');
            color: #eee;
            
            
            @media @screen-small-above {
               position: absolute; 
            }
            
            img {
                max-width: 70px;
            }
            
        }
        
        
        img { 
            display: block;
            margin: 0 auto;
            max-width: 100%;
            margin-bottom: 10px;
        }
        
        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 15px 0;
            color: #ccc;
        }
        
        
        .slide-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 45px;
            width: 100%;
            border-top: 1px solid #eee;
            background: #1A1A1A url('../assets/chalk-bg.png');
            color: #eee;
            
            @media @screen-small-above {
               position: absolute; 
            }
            
            
            h6 {
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 11px;
                font-weight: bold;
                text-transform: uppercase;
                a {
                    color: #eee;
                }
            }
        }
        
    }     
    
    //stepping in early
    &.section-early  {
        .full-block-content {
            .slide-header, .slide-footer {
                border-color: @early-color;
                color: @early-color;
            }  
        }
    }
    
    //lowering the bar
    &.section-lowering  {
        .full-block-content {
            .slide-header, .slide-footer {
                border-color: @lowering-color;
                color: @lowering-color;
            }  
        }
    }
    
    //gaming the system
    &.section-gaming  {
        .full-block-content {
            .slide-header, .slide-footer {
                border-color: @gaming-color;
                color: @gaming-color;
            }  
        }
    }
    
}