.slide.text {

    .full-block-content {
        max-width: 700px;
        margin: 0 auto;
        padding: 60px;
        //padding: 120px 60px 40px 60px;
        position: relative;

        .slide-header {
            position: fixed;
            top: 0;
            left: 0;
            height: 30px;
            width: 100%;
            border-bottom: 1px solid #eee;
            background: #1A1A1A url('../assets/chalk-bg.png');
            color: #eee;


            @media @screen-small-above {
               position: absolute;
            }

            h5 {
                position: relative;
                bottom: -20px;
                left: 0;
                font-size: 17px;
                margin: 0;
                padding: 0;
                line-height: 1;
                text-align: center;

                b {
                    background: #1A1A1A url('../assets/chalk-bg.png');
                    padding: 0 10px;

                }
            }

            img {
                max-width: 70px;
                padding-top: 10px;
            }
        }

        h4 {
            font-family: 'Amatic SC', cursive;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 15px 0;
            color: #ccc;
        }


        .slide-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 45px;
            width: 100%;
            border-top: 1px solid #eee;
            background: #1A1A1A url('../assets/chalk-bg.png');
            color: #eee;

            @media @screen-small-above {
               position: absolute;
            }

            h5 {
                  position: relative;
                  top: -7px;
                  left: 0;
                  font-size: 17px;
                  margin: 0;
                  padding: 0;
                  line-height: 1;
                  text-align: center;

                b {
                    background: #1A1A1A url('../assets/chalk-bg.png');
                    padding: 0 10px;

                }
            }

            h6 {
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 11px;
                font-weight: bold;
                text-transform: uppercase;

                a {
                    display: block;
                    color: #eee;
                    padding-top: 15px;

                    &:before {
                        font-family: "FontAwesome";
                        content: '\f14c';
                        display: inline-block;
                        padding-right: 5px;
                    }
                }
            }
        }

    }

    //stepping in early
    &.section-early  {
        .full-block-content {
            .slide-header, .slide-footer {
                border-color: @early-color;
                color: @early-color;
            }
        }
    }

    //lowering the bar
    &.section-lowering  {
        .full-block-content {
            .slide-header, .slide-footer {
                border-color: @lowering-color;
                color: @lowering-color;
            }
        }
    }

    //gaming the system
    &.section-gaming  {
        .full-block-content {
            .slide-header, .slide-footer {
                border-color: @gaming-color;
                color: @gaming-color;
            }
        }
    }

    &.extra-padding {
        .full-block-content {
            padding: 100px 60px;
        }
    }

}