.slide.text {
   
    .full-block {
       .full-block-content {
            max-width: 700px;
            margin: 0 auto;
            
            img { 
                display: block;
                margin: 0 auto;
                max-width: 340px;
            }
            
            h2 {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
                text-shadow: 2px 2px 2px #000;
                line-height: 1.7;
            }
            
            h3 {
                
            }
            
            p {
                font-size: 15px;
                line-height: 1.7;
                margin: 0 0 20px 0;
            }
            
            h4 {
                
                border-top: 1px solid #ddd;
                margin-top: 30px;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                padding-top: 10px;
                line-height: 1.5;
            }
        } 
    }
}