{% extends '_slide.html' %}
{% block slide_content %}

<div class="slide-header">
    <img data-src="korey.png" class="lazy-load" alt=""/>
</div>


<p>Georgia started its coaching program in 2006 but defunded it four years later. Henry County, where Thomas goes to school, has found private donors to keep it going. And it seems to help: Henry County’s graduation rate is 7% higher than the state’s (78% vs 71%). </p>

<div class="slide-footer">
    <h6><a href="#">Read more about Korey</a></h6>
</div>

{% endblock %}
